.text-center {
  text-align: center;
}

.logo-name {
  line-height: 38px;
  padding-left: 1em;
}

.logo-name img {
  max-width: 100%;
}

.logo.ui-grid-a .ui-block-a {
  width: 66.6666666%;
}

.logo.ui-grid-a .ui-block-b {
  width: 33.333333335%;
}